*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4f4f4 ;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

#header{
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/images.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

#navbar{
    flex: 1;
    text-align: right;
}

#navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: palevioletred;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#navbar ul li:hover::after{
    width: 100%;
}

#text{
    width: 90%;
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#text h1{
    font-size: 62px;
}

#text p{
    margin: 10px 0 40px;
    font-size: 25px;
    color: #fff;
}

#btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid palevioletred;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

#btn:hover{
    border: 1px solid palevioletred;
    background: palevioletred;
    transition: 1s;
}

@media(max-width: 700px){
    #text h1{
        font-size: 20px;
    }
    #text p{
        font-size: 20px;
    }
    #navbar ul li{
        display: block;
    }
}

/*------about-----*/
#about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}



/*------skills-------*/
.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: black;
}
.row2{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.skills-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(78, 117, 190, 0.6);
}
.layer h3{
    width: 100%;
    font-weight:500 ;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transform: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.contact-me{
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7), url(./images/portfolio-09.jpg));
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contact-me h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}


#main-footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
#main-footer p{
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
}


.ctn-form input{
    width: 40%;
    padding: 15px;
    margin-bottom: 17px;
    margin-left: 150px;
    margin-right: 150px;
    outline: none;
    border: 1px solid salmon;
    box-sizing:border-box ;
}
.ctn-form textarea{
    width: 40%;
    padding: 15px;
    margin-bottom: 17px;
    margin-left: 200px;
    outline: none;
    border: 1px solid salmon;
    box-sizing:border-box ;
}